@{
	Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<h4>Add a new Flavor</h4>

@using(Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	@Html.TextBoxFor(m => m.Name)
	@Html.LabelFor(model => model.Description)
	@Html.TextBoxFor(m => m.Description)


	<input type="submit" value="Add new flavor" />
}

<p>@Html.ActionLink("Show all flavors", "Index")</p>