@model SweetSavory.Models.Flavor

<h2>Edit </h2>

<h3> Edit Flavor : @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <label for="Name"> select Name: </label>
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Description)
	@Html.EditorFor(m => m.Description)
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("back to Flavors", "Index")</p>